a
    font-weight: 500

h1
    font-family: 'bodoni-urw', georgia, serif
    color: #fff
    background-color: #e57200
    display: inline-block

h2
    font-family: 'franklin-gothic-urw', arial, sans-serif

.navbar
    opacity: 0.9

.twitter-timeline
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.twitter-tweet
    margin-left: auto
    margin-right: auto

@media (min-width: 767px)
    #myimg
        width: 260px

@media (max-width: 767px)
    #myimg
        width: 128px